# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

# See the example.cfg file for a description of available parameters.


########################
# TMC2208 configuration
########################

# For TMC2208 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)

[tmc2208 stepper_x]
uart_pin: P1.17
microsteps: 16
run_current: 0.500
hold_current: 0.300
stealthchop_threshold: 250

[tmc2208 stepper_y]
uart_pin: P1.15
microsteps: 16
run_current: 0.500
hold_current: 0.300
stealthchop_threshold: 250

[tmc2208 stepper_z]
uart_pin: P1.10
microsteps: 16
run_current: 0.400
hold_current: 0.300
stealthchop_threshold: 30

[tmc2208 extruder]
uart_pin: P1.8
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5

[tmc2208 stepper_z1]
uart_pin: P1.1
microsteps: 16
run_current: 0.400
hold_current: 0.300
stealthchop_threshold: 30


########################
# TMC2130 configuration
########################

# For TMC SPI
#   1) Place jumpers on all the red pin headers under the stepper drivers
#   2) Remove jumpers from the red pin headers labeled XUART (XUART, YUART etc.)

#[tmc2130 stepper_x]
#cs_pin: P1.17
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.29
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2130 stepper_y]
#cs_pin: P1.15
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.27
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2130 stepper_z]
#cs_pin: P1.10
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.25
#microsteps: 16
#run_current: 0.650
#hold_current: 0.450
#stealthchop_threshold: 30

#[tmc2130 extruder]
#cs_pin: P1.8
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.28
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5

#[tmc2130 extruder1]
#cs_pin: P1.1
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.26
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5


########################
# Main configuration
########################

## Basic steppers configuration ##

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .00625
endstop_pin: !P1.29  # P1.28 for X-max
position_endstop: 0
position_min: 0
position_max: 230
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .00625
endstop_pin: !P1.27  # P1.26 for Y-max
position_endstop: -4
position_min: -4
position_max: 290
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.5
position_min: -1.0
position_max: 200

[stepper_z1]
step_pin: P0.1
dir_pin: P0.0
enable_pin: !P0.10
step_distance: .0025

## Extruder configuration ##

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
step_distance: .001194743
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 280

#[extruder1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#heater_pin: P2.4
#sensor_pin: P0.25
#...

## Heatbed configuration ##

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
#control: watermark
min_temp: 0
max_temp: 130

## Additional configuration ##

[fan]
pin: P2.3

[heater_fan my_nozzle_fan]
pin: P2.4
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#   See the "fan" section in example.cfg for a description of the
#   above parameters.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

[probe]
pin: !P1.25
#   Probe detection pin. This parameter must be provided.
x_offset: -2
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
y_offset: 17
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.
#z_offset: 1.18
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
#speed: 5.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
#samples: 1
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 2.0
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
#samples_result: average
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is average.
#samples_tolerance: 0.100
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
#samples_tolerance_retries: 0
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.
#activate_gcode:
#   A list of G-Code commands to execute prior to each probe attempt.
#   See docs/Command_Templates.md for G-Code format. This may be
#   useful if the probe needs to be activated in some way. Do not
#   issue any commands here that move the toolhead (eg, G1). The
#   default is to not run any special G-Code commands on activation.
#deactivate_gcode:
#   A list of G-Code commands to execute after each probe attempt
#   completes. See docs/Command_Templates.md for G-Code format. Do not
#   issue any commands here that move the toolhead. The default is to
#   not run any special G-Code commands on deactivation.

[z_tilt]
z_positions:
  -62, 145
  292, 145
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the XY position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
  20, 128
  210, 128
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 5
#   Number of times to retry if the probed points aren't within tolerance
retry_tolerance: 0.005
# if retries are enabled then retry if largest and smallest probed points
# differ more than retry_tolerance.
# Note the smallest unit of change here would be a single step. However if you
# are probing more points than steppers then you will likely have a fixed
# minimum value for the range of probed points which you can learn by observing
# command output.

[bed_mesh]
#speed: 50
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#bed_radius:
#   Defines the radius to probe for round beds.  Note that the radius
#   is relative to the nozzle's origin, if using a probe be sure to
#   account for its offset.  This parameter must be provided for round
#   beds and omitted for rectangular beds.
min_point: 22,3
#   Defines the minimum x,y position to probe when for rectangular
#   beds. Note that this refers to the nozzle position, take care that
#   you do not define a point that will move the probe off of the bed.
#   This parameter must be provided for rectangular beds.
max_point: 212,253
#   Defines the maximum x,y position to probe when for rectangular
#   beds. Follow the same precautions as listed in min_point. Also note
#   that this does not necessarily define the last point probed, only
#   the maximum coordinate. This parameter must be provided.
probe_count: 9,11
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3.
#round_probe_count: 5
#   For round beds, this is integer value defines the maximum number of
#   points to probe along each axis. This value must be an odd number.
#   Default is 5.
#fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled.  Default is 1.0.
#fade_end: 0.0
#   The gcode z position in which phasing out completes.  When set
#   to a value below fade_start, fade is disabled. It should be
#   noted that fade may add unwanted scaling along the z-axis of a
#   print.  If a user wishes to enable fade, a value of 10.0 is
#   recommended. Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
#mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
#relative_reference_index:
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.


[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1000
max_z_velocity: 25
max_z_accel: 100

[homing_override]
set_position_z: 10
axes: z
gcode:
    G90
    G1 Z15 F600
    G28 X Y
    G1 X117 Y128 F3600
    G28 Z0
    G1 Z40 F600

[display]
lcd_type: st7567
cs_pin: P1.18
a0_pin: P1.19
rs_pin: P1.20
contrast: 63
#spi_software_sclk_pin: P0.15
#spi_software_mosi_pin: P0.18
#spi_software_miso_pin:
encoder_pins: ^P3.26, ^P3.25
click_pin: ^!P0.28

[neopixel display_backlight]
pin: P1.21
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 2
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indices only a single
#   Neopixel is connected to the pin).
initial_RED: 0.376
initial_GREEN: 0.0
initial_BLUE: 0.5
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The default for each color is 0.

#
[output_pin beeper]
pin: !P1.30

# "RepRapDiscount 2004 Smart Controller" type displays
# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
#[display]
#lcd_type: st7920
#cs_pin: P1.19
#sclk_pin: P1.20
#sid_pin: P1.18
#encoder_pins: ^P3.26, ^P3.25
#click_pin: ^!P0.28
#
#[output_pin beeper]
#pins: !P1.30

# "RepRapDiscount 2004 Smart Controller" type displays
#[display]
#lcd_type: hd44780
#rs_pin: P1.19
#e_pin: P1.18
#d4_pin: P1.20
#d5_pin: P1.21
#d6_pin: P1.22
#d7_pin: P1.23
#encoder_pins: ^P3.26, ^P3.25
#click_pin: ^!P0.28
#
#[output_pin beeper]
#pins: !P1.30

# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
#[display]
#lcd_type: st7920
#cs_pin: P1.19
#sclk_pin: P1.21
#sid_pin: P1.23
#encoder_pins: ^P1.18, ^P1.20
#click_pin: !P0.28
#
#[output_pin beeper]
#pin: P1.30

# MKS Mini 12864 LCD.
# Make sure that the EXP1 and EXP2 are rotated correctly on the
# display board. The cutouts on the connectors should be towards the
# center of the PCB. See:
#   https://reprap.org/wiki/MKS_MINI_12864#Physical_Interface
# If they are wrong, the connector housing can be pried off carefully
# with a small screwdriver and relocated the correct way.
#
#[display]
#lcd_type: uc1701
#cs_pin: P1.21
#a0_pin: P1.22
#contrast: 40
#encoder_pins: ^P3.25, ^P3.26
#click_pin: ^!P0.28
#
#[output_pin beeper]
#pin: P1.30

[force_move]
enable_force_move: True

[virtual_sdcard]
path: ~/.octoprint/uploads/

# custom menu items
### menu octoprint ###
[menu __octoprint]
type: list
name: OctoPrint
items:
    .__pause
    .__resume
    .__abort
    .__lightson
    .__lightsoff

[menu __octoprint __lightson]
type: command
name: Lights on
action: respond action:lightson
gcode:

[menu __octoprint __lightsoff]
type: command
name: Lights off
action: respond action:lightsoff
gcode:

### menu control ###
[menu __control]
type: list
name: Control
items:
    .__home
    .__homez
    .__homexy
    .__move_10mm
    .__move_1mm
    .__move_01mm
    .__disable
    .__enable
    .__fanonoff
    .__fanspeed

[menu __control __enable]
type: command
enable: !toolhead.is_printing
name: Enable steppers
gcode:
    SET_KINEMATIC_POSITION

### menu temperature ###
[menu __temp]
type: list
name: Temperature
items:
    .__hotend0_current, .__hotend0_target
    .__hotend1_current, .__hotend1_target
    .__hotbed_current, .__hotbed_target
    .__preheat_pla
    .__preheat_petg
    .__cooldown

[menu __temp __preheat_petg]
type: list
name: Preheat PETG
items:
    .__all
    .__hotend
    .__hotbed

[menu __temp __preheat_petg __all]
type: command
enable: extruder0.is_enabled,heater_bed.is_enabled
name: Preheat all
gcode:
    M140 S85
    M104 S245

[menu __temp __preheat_petg __hotend]
type: command
enable: extruder0.is_enabled
name: Preheat hotend
gcode: M104 S245

[menu __temp __preheat_petg __hotbed]
type: command
enable: heater_bed.is_enabled
name: Preheat hotbed
gcode: M140 S85

[menu __temp __hotend0_target]
type: input
enable: extruder0.is_enabled
name: "{0:4.0f}"
parameter: extruder0.target
input_min: 0
input_max: 260
input_step: 1
input_step2: 10
gcode: M104 T0 S{0:.0f}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.548
#*# pid_ki = 1.378
#*# pid_kd = 158.453
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.511
#*# pid_ki = 1.117
#*# pid_kd = 990.183
#*#
#*# [probe]
#*# z_offset = 0.962
#*#
#*# [bed_mesh default]
#*# points =
#*# 	  -0.467500, -0.327500, -0.352500, -0.395000, -0.465000, -0.562500, -0.645000, -0.727500, -0.832500
#*# 	  -0.340000, -0.177500, -0.147500, -0.177500, -0.237500, -0.330000, -0.407500, -0.485000, -0.580000
#*# 	  -0.235000, -0.095000, -0.075000, -0.112500, -0.170000, -0.250000, -0.297500, -0.332500, -0.377500
#*# 	  -0.130000, -0.057500, -0.050000, -0.110000, -0.165000, -0.215000, -0.220000, -0.212500, -0.215000
#*# 	  -0.045000, -0.000000, -0.005000, -0.050000, -0.100000, -0.112500, -0.100000, -0.077500, -0.077500
#*# 	  0.002500, 0.045000, 0.042500, 0.012500, -0.000000, -0.012500, -0.007500, 0.015000, -0.002500
#*# 	  0.037500, 0.112500, 0.130000, 0.107500, 0.095000, 0.075000, 0.057500, 0.057500, 0.045000
#*# 	  0.025000, 0.150000, 0.182500, 0.177500, 0.100000, 0.067500, 0.025000, 0.010000, 0.002500
#*# 	  -0.120000, 0.037500, 0.085000, 0.095000, 0.055000, -0.000000, -0.060000, -0.072500, -0.107500
#*# 	  -0.305000, -0.137500, -0.070000, -0.052500, -0.067500, -0.117500, -0.175000, -0.217500, -0.255000
#*# 	  -0.482500, -0.310000, -0.235000, -0.232500, -0.237500, -0.282500, -0.350000, -0.402500, -0.435000
#*# x_count = 9
#*# y_count = 11
#*# min_x = 22.0
#*# max_x = 212.0
#*# min_y = 3.0
#*# max_y = 253.0
#*# x_offset = -2.0
#*# y_offset = 17.0
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh petg]
#*# points =
#*# 	  -0.467500, -0.327500, -0.352500, -0.395000, -0.465000, -0.562500, -0.645000, -0.727500, -0.832500
#*# 	  -0.340000, -0.177500, -0.147500, -0.177500, -0.237500, -0.330000, -0.407500, -0.485000, -0.580000
#*# 	  -0.235000, -0.095000, -0.075000, -0.112500, -0.170000, -0.250000, -0.297500, -0.332500, -0.377500
#*# 	  -0.130000, -0.057500, -0.050000, -0.110000, -0.165000, -0.215000, -0.220000, -0.212500, -0.215000
#*# 	  -0.045000, -0.000000, -0.005000, -0.050000, -0.100000, -0.112500, -0.100000, -0.077500, -0.077500
#*# 	  0.002500, 0.045000, 0.042500, 0.012500, -0.000000, -0.012500, -0.007500, 0.015000, -0.002500
#*# 	  0.037500, 0.112500, 0.130000, 0.107500, 0.095000, 0.075000, 0.057500, 0.057500, 0.045000
#*# 	  0.025000, 0.150000, 0.182500, 0.177500, 0.100000, 0.067500, 0.025000, 0.010000, 0.002500
#*# 	  -0.120000, 0.037500, 0.085000, 0.095000, 0.055000, -0.000000, -0.060000, -0.072500, -0.107500
#*# 	  -0.305000, -0.137500, -0.070000, -0.052500, -0.067500, -0.117500, -0.175000, -0.217500, -0.255000
#*# 	  -0.482500, -0.310000, -0.235000, -0.232500, -0.237500, -0.282500, -0.350000, -0.402500, -0.435000
#*# x_count = 9
#*# y_count = 11
#*# min_x = 22.0
#*# max_x = 212.0
#*# min_y = 3.0
#*# max_y = 253.0
#*# x_offset = -2.0
#*# y_offset = 17.0
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
